@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<man>

<p style="color:black;font-size:100px ;font-style:italic ;margin-bottom:-200px " class="text-center">  </p>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col mb-5">
                  <div class="card h-100">
                      product

                   <img class="card-img-top" src="@item.Images" alt="..." width="200" height="400">

                        <div class="card-body p-4">
                            <div class="text-center">
                               
                                <h5 class="fw-bolder" style="color:orange">@item.Description</h5>
                         
                                <strong> $@item.Price </strong>
                            </div>
                        </div>
                      
                        <div class="card-footer p-5 pt-0 border-top-0 bg-transparent">
                            <div class="text-center" style="background-color:black"><a class="btn btn-outline-dark mt-auto" href="/home/addcart" style="color:orange">Add to cart</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section> 